.cartContainer {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
}
.cart {
  &__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;

      font-size: 24px;
      line-height: 21px;
      color: #2a2d46;
    }
  }
}
.title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.items__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    max-width: 300px;
    max-height: 300px;
  }
  h1 {
    color: var(--unnamed, #0c76d8);
    text-align: center;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.totalPrice__container {
  display: flex;
  margin-top: 50px;
  gap: 10px;
  color: var(--unnamed, #0c76d8);
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 900;
  span {
    color: #2a2d46;
  }
}
