.catalogRoot {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  .catalogContainer {
    max-width: 1170px;
    margin: 0 auto;
    .catalogFilter_container {
      display: flex;
      align-items: center;
      gap: 5%;
    }
    .catalog__title {
      font-weight: 900;
      font-size: 25px;
      line-height: 30px;
      color: #2a2d46;
    }
    .cardContainer {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
