.root {
  display: flex;
  gap: 30px;
  text-decoration: none;
  li {
    cursor: pointer;
    transition: 0.3s ease-in;
    &:hover {
      color: #0c76d8;
    }
  }
}
.category {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #2a2d46;
}
.activeCategory {
  color: #0c76d8 !important;
}
