.root {
  padding: 8px 10px;
  border: 1px solid #eb2d66;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #eb2d66;
}
