.root {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 26px 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
