.root {
  padding: 18px 45px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 145.4%;
  color: #ffffff;
  background: #eb2d66;
  box-shadow: 0px 7px 35px rgba(235, 45, 102, 0.35);
}
